body{
  padding: 0em 0em;
  background-color: #fff;
  height:130%;
  overflow: hidden;
}

h1{
  color:black;
}

#map{
  height:60%;
}

footer{
  position: fixed;
  bottom:0;
  width:100%;
}
footer a{
  text-decoration: none;
  color:black;
}
footer .row{
  border-top:1.4px solid black;
  background-color: grey;
}

.row{
  margin-top: -9.5em;
}
.nav-link{
  font-size:3em;
  padding:0.5em;
  margin-left:-0.1em;

}
.active{
  background-color: white;

}
.active a{
  text-decoration: none;
  color:red;
}
.modal {
  margin-top: 5em;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 0px;
  margin-top: -3px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
